body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 100vh;
  }
  
  .headerElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }
  
  .header {
    padding: 25px 18px;
    background-color: #3366ff;
  }
  
  .avatarContainer {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  .noPhoto {
    border: 2.5px solid white;
  }
  
  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .accountIcon {
    font-size: 60px;
    color: black;
  }
  
  .username {
    font-size: 14.5px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
  }
  
  .email {
    font-size: 13.5px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
  
  .themeSwitcher {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .menu {
    padding: 20px 18px;
    background-color: white;
    border-top: 1px solid #e5e5e5;
  }
  
  .menuOption {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .lastMenuOption {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menuText {
    font-size: 14px;
    font-weight: bold;
    margin-left: 25px;
    color: #333;
  }
  
  .modalInfoOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalInfo {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modalInfoTextHeader {
    font-weight: bold;
    margin: 0;
  }
  
  .containerModalInfoButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 25px;
  }
  
  .modalInfoButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }