body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    height: 100vh;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .avatarContainer {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: white;
    border: 2.5px solid black;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .accountIcon {
    font-size: 125px;
    color: black;
  }
  
  .cameraIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #3366FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .textInputContainer {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .textInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .textInput input {
    width: 100%;
    border: none;
    outline: none;
  }
  
  .passwordVisibilityToggle {
    cursor: pointer;
  }
  
  .button {
    width: 100%;
    max-width: 300px;
    background-color: #3366FF;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .modalInfoOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalInfo {
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
  }
  
  .modalInfoTextHeader {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .containerModalInfoButton {
    display: flex;
    justify-content: center;
  }
  
  .modalInfoButton {
    background-color: #3366FF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modalInfoButton:hover {
    background-color: #2952cc;
  }